body{
    min-height: 100vh;
}

.main{
    min-height: 100vh;
}

.r-box{
    width: 100%;
}

.panel{
    width: 100%;
    background-color: aliceblue;
}

.b-item{
    width: 30%;
    margin-right: 2%;
}
/* ボタンのアイテムのデータ */



